@model IEnumerable<prjProduct_core.ViewModel.CProductViewModel>

@*標題*@
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>Shop</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

@*內容*@
<section class="shop-page section-padding-0-100">
    <div class="container">

        <div class="row">
            <!-- Sidebar Area -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop-sidebar-area">

                    <!-- Shop Widget -->
                    <div class="shop-widget catagory mb-50">
                        <h4 class="widget-title">產品類別</h4>
                        <div class="widget-desc">
                            <!-- Categories -->
                            <ul>
                                <li>
                                    <ul class="dropdown">
                                        <li id="selectall" style="color: #808080 ; cursor:pointer">所有產品</li>

                                        <li id="s_1" style="color: #808080  ; cursor:pointer" class="coff">咖啡豆</li>
                                        <li id="s_2" style="color: #808080;cursor:pointer" class="coff">咖啡器具</li>
                                        <li id="s_3" style="color: #808080;cursor:pointer" class="coff">消耗品</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Shop Widget -->
                    <div class="shop-widget sort-by mb-50 coffcate">
                        <h4 class="widget-title">咖啡豆分類</h4>
                        <div class="widget-desc">
                            <ul>
                                <li>
                                    <ul class="dropdown test1 " >
                                        <li style="color: #808080" class="list">
                                            產地國家
                                            <ul class="coffeelist animate__animated animate__fadeIn" id="coffcontry">
                                                <li id="c_1" style="color: #808080  ; cursor:pointer" class="coffc coffcn">衣索比亞	</li>
                                                <li id="c_2" style="color: #808080  ; cursor:pointer" class="coffc coffcn">肯亞	</li>
                                                <li id="c_3" style="color: #808080  ; cursor:pointer" class="coffc coffcn">盧安達</li>
                                                <li id="c_4" style="color: #808080  ; cursor:pointer" class="coffc coffcn">巴西</li>
                                                <li id="c_5" style="color: #808080  ; cursor:pointer" class="coffc coffcn">祕魯</li>
                                                <li id="c_6" style="color: #808080  ; cursor:pointer" class="coffc coffcn">巴拿馬	</li>
                                                <li id="c_7" style="color: #808080  ; cursor:pointer" class="coffc coffcn">瓜地馬拉	</li>
                                                <li id="c_8" style="color: #808080  ; cursor:pointer" class="coffc coffcn">薩爾瓦多</li>
                                                <li id="c_9" style="color: #808080  ; cursor:pointer" class="coffc coffcn">宏都拉斯	</li>
                                                <li id="c_10" style="color: #808080  ; cursor:pointer" class="coffc coffcn">哥倫比亞	</li>
                                                <li id="c_11" style="color: #808080  ; cursor:pointer" class="coffc coffcn">哥斯大黎加</li>
                                                <li id="c_12" style="color: #808080  ; cursor:pointer" class="coffc coffcn">印尼</li>
                                                <li id="c_13" style="color: #808080  ; cursor:pointer" class="coffc coffcn">巴布亞新幾內亞</li>
                                                <li id="c_14" style="color: #808080  ; cursor:pointer" class="coffc coffcn">台灣</li>
                                                <li id="c_15" style="color: #808080  ; cursor:pointer" class="coffc coffcn">尼加拉瓜</li>
                                            </ul>
                                        </li>
                                        <li style="color: #808080" class="list">
                                            烘培程度
                                            <ul class="coffeelist animate__animated animate__fadeIn" id="coffroast">
                                                <li id="r_1" style="color: #808080  ; cursor:pointer" class="coffc coffcr">淺焙</li>
                                                <li id="r_2" style="color: #808080  ; cursor:pointer" class="coffc coffcr">中淺焙</li>
                                                <li id="r_3" style="color: #808080  ; cursor:pointer" class="coffc coffcr">中焙</li>
                                                <li id="r_4" style="color: #808080  ; cursor:pointer" class="coffc coffcr">中深焙</li>
                                                <li id="r_5" style="color: #808080  ; cursor:pointer" class="coffc coffcr">深焙</li>
                                            </ul>
                                        </li>
                                        <li style="color: #808080" class="list">
                                            處理方式
                                            <ul class="coffeelist animate__animated animate__fadeIn dropdown">
                                                <li id="w_1" style="color: #808080  ; cursor:pointer" class="coffc coffcw"> 日曬</li>
                                                <li id="w_2" style="color: #808080  ; cursor:pointer" class="coffc coffcw">水洗</li>
                                                <li id="w_3" style="color: #808080  ; cursor:pointer" class="coffc coffcw">蜜處理</li>
                                                <li id="w_4" style="color: #808080  ; cursor:pointer" class="coffc coffcw">特殊處理</li>
                                            </ul>
                                        </li>
                                        <li style="color: #808080" class="list">
                                            包裝方法
                                            <ul class="coffeelist animate__animated animate__fadeIn">
                                                <li id="p_1" style="color: #808080  ; cursor:pointer" class="coffc coffcp">豆(半磅)</li>
                                                <li id="p_2" style="color: #808080  ; cursor:pointer" class="coffc coffcp">豆(一磅)</li>
                                                <li id="p_3" style="color: #808080  ; cursor:pointer" class="coffc coffcp">濾掛</li>
                                                <li id="p_4" style="color: #808080  ; cursor:pointer" class="coffc coffcp">濾袋</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Shop Widget -->
                    <div class="shop-widget best-seller mb-50">
                        <h4 class="widget-title">推薦產品</h4>
                        <div class="widget-desc">

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="img/bg-img/4.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Cactus Flower</a>
                                    <p>$10.99</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="img/bg-img/5.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Tulip Flower</a>
                                    <p>$11.99</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="img/bg-img/34.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Recuerdos Plant</a>
                                    <p>$9.99</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- All Products Area -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop-products-area">
                    <div class="row" id="showcard">
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
@section Style{
    <style>
        .coffc {
            margin-left: 5px;
            font-size: 5px;
        }


        .list {
            cursor: default;
            user-select: none;
            color:#1e1e1e
        }
        .coffcate{
            height:800px;
        }

    </style>
}

@section Scripts{
    <script>
        $("#showcard").load('@Url.Content("~/Shop/partialView")' + "?id=1");

         $('#selectall').click(function () {
            $('#showcard').load('@Url.Content("~/Shop/partialView")' +"?id=1");
        });

        /*下拉式選單*/
        $(".coff").click(function () {
            let id = $(event.target).attr("id").substr(2);

            $('#showcard').load('@Url.Content("~/Shop/partialViewForCatgory")' + "?id=" + id+"&page=1");

        });

        $(".coffcn").click(function(){
            let id = $(event.target).attr("id").substr(2);
            $('#showcard').load('@Url.Content("~/Shop/partialViewContry")' + "?id=" + id + "&page=1");
        })
         $(".coffcr").click(function(){
            let id = $(event.target).attr("id").substr(2);
             $('#showcard').load('@Url.Content("~/Shop/partialViewRoast")' + "?id=" + id + "&page=1");
         })
         $(".coffcw").click(function(){
            let id = $(event.target).attr("id").substr(2);
             $('#showcard').load('@Url.Content("~/Shop/partialViewProcess")' + "?id=" + id + "&page=1");
         })
        $(".coffcp").click(function(){
            let id = $(event.target).attr("id").substr(2);
            $('#showcard').load('@Url.Content("~/Shop/partialViewPacking")' + "?id=" + id + "&page=1");
        })
        /*下拉式選單*/


    </script>
}
